.ImageLinkFor > p {
    font-size: 20px;
    font-weight: 200;
    opacity: 0.7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* border-style: dashed;
    border-color: lawngreen; */
    padding-bottom: 30px;
    /* border-width: 10px;
    border-block-start: 1px;
    border-block-end-width: 8px; */
}

.form {
    width: 700px;

    background-color: rgb(102, 29, 29);
    background-image: linear-gradient(335deg, #b00 23px, transparent 23px),
    linear-gradient(155deg, #d00 23px, transparent 23px),
    linear-gradient(335deg, #b00 23px, transparent 23px),
    linear-gradient(155deg, #d00 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}

.buttonize {
    background-color: rgb(102, 50, 44);
background-image: linear-gradient(335deg, #f00 23px, transparent 23px),
linear-gradient(155deg, #a20 23px, transparent 23px),
linear-gradient(335deg, #f00 23px, transparent 23px),
linear-gradient(155deg, #a20 23px, transparent 23px);
background-size: 58px 58px;
background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}
